body {
  background-color: rgb(233, 233, 233);
}

#body {
  padding: 5px 150px 5px 150px;
}

#start-order {
  display: flex;
  justify-content: space-around;
  height: 130px;
  align-items: center;
}

#start-order > h1 {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 170%;

  opacity: 1;
  -webkit-box-align: center;
  align-items: center;

  border: 0px;
  color: rgb(0, 100, 145);
  cursor: pointer;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;

  min-width: 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

hr {
  width: 120px;
  opacity: 70%;
}

#start-order > button {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  background-color: rgb(227, 24, 55);
  -webkit-box-align: center;
  width: 200px;
  border-radius: 3px;
  border: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 4rem;
  padding: 0.55556em 0.55556em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.3s linear 0s;
}

#start-order > button:hover,
#location button:hover {
  background-color: rgb(145, 3, 24);
}

#menu_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#menu_grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu_grid img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

#heading-menu {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(119, 119, 119);
  font-size: 70px;
  margin-bottom: 3rem;
  text-align: center;
  display: block;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#offerbar {
  margin: -5px;
}
#offerbar img {
  width: 100%;
}

#menu_grid h2 {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(119, 119, 119);
  font-size: 50px;
  letter-spacing: -0.015rem;
  margin-bottom: 1.25rem;
  text-align: center;
  padding: auto;
  font-size: 1.5em;
  font-weight: bold;
}
#view-menu {
  background: url("images/background.jpg") rgba(0, 0, 0, 0.5);

  height: 230px;
  width: 970px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#view-menu img {
  width: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#menu-btn {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  background-color: rgb(227, 24, 55);
  -webkit-box-align: center;
  width: 200px;
  border-radius: 3px;
  border: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 4rem;
  padding: 0.55556em 0.55556em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.3s linear 0s;
}

#menu-btn:hover {
  background-color: rgb(145, 3, 24);
}

#salesbar > img {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#slideshow {
  margin: -8px;
  margin-top: -28px;
}
#slideshow > img {
  width: 100%;
  padding: 20px 0px 0px 0px;
}

#footer2 > p {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;

  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 57rem;
  font-size: 15px;
  line-height: 1.25;
  margin: 0px auto;
}
#footer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 150px 5px 150px;
  background-color: rgb(70, 70, 70);
  height: 300px;
  width: 1030px;
}
#footer1 img {
  width: 170px;
}
.footer-list {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#footer1 h3 {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;

  line-height: 1.125;
  color: rgb(255, 255, 255);
  width: 90%;
  max-width: 50rem;
  font-size: 15px;
  line-height: 2.2;
  margin: auto;
}
#footer1 h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
#footer1 button:hover {
  background-color: rgb(145, 3, 24);
}
#footer1 h1 {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 50rem;
  font-size: 30px;
  line-height: 1.25;
  margin: 0px auto;
}
#footer-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-signup input {
  width: 210px;
  height: 40px;
  border-radius: 7px 7px 0px 0px;
  border-color: white;
  text-decoration: none;
  /* text-transform: uppercase; */
  text-align: center;
}
#footer-signup button {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  background-color: rgb(227, 24, 55);
  -webkit-box-align: center;
  width: 218px;
  border-radius: 0px 0px 7px 7px;
  border: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 4rem;
  padding: 0.55556em 0.55556em 0.5em;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: box-shadow 0.3s linear 0s;
}
#footer2 {
  background-color: rgb(70, 70, 70);
  width: 1030px;
  padding: 5px 150px 5px 150px;
}
@media screen {
}
