* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 233);
}

#nav {
  display: flex;
  height: 90px;
  background-color: rgb(0, 100, 145);
  /* padding: 5px 170px 5px 170px; */
  align-items: center;
  justify-content: center;
  margin: -8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#nav {
  position: fixed;
  width: 100%;
  height: 100px;
}
#logo-img {
  width: 70px;
  height: 85px;
}

#menu > h2 {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 15px;

  padding: 0.75rem 0.625rem;
  cursor: pointer;
  transition: box-shadow 0.3s linear 0s;
  -webkit-box-align: center;
  align-items: center;
  align-self: center;
  height: 65px;
}
#menu {
  width: 100px;
  display: flex;
  justify-content: center;
}
#menu > h2:hover,
#cart:hover {
  background-color: rgb(0, 63, 92);
}

#location input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  padding: 5px;
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
}
#location {
  display: flex;
}
#location button {
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  background-color: rgb(227, 24, 55);
  -webkit-box-align: center;
  width: 120px;
  border-radius: 3px;
  border: 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  height: 38px;
  min-width: 4rem;
  padding: 0.55556em 0.55556em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.3s linear 0s;
}
#location button:hover {
  background-color: rgb(145, 3, 24);
}
#sign-in {
  width: 100px;
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;

  background: transparent;
  background-color: rgb(1, 89, 129);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 9px;
  margin: 0px;
  text-align: center;
  padding: 15px 20px 15px 20px;
}

#signout {
  width: 70px;
  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  background-color: rgb(1, 89, 129);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  margin: 0px;
  transition: box-shadow 0.3s linear 0s;
  text-align: center;
  padding: 15px 20px 15px 20px;
}

#cart {
  opacity: 1;
  border-radius: 3px;
  -webkit-box-pack: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  height: 90px;
  width: 120px;

  font-family: "One Dot Condensed Bold", "Arial Narrow", Arial, Helvetica,
    sans-serif;
  padding-top: 10px;
  background: transparent;

  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  transition: box-shadow 0.3s linear 0s;
  -webkit-box-align: center;
  align-items: center;

  position: relative;
  flex-direction: column;
}

#menu {
  display: flex;
}

#cart-icon {
  width: 30px;
  height: 30px;
}

#body {
  padding: 5px 150px 5px 150px;
}

/* login div */

#login_div {
  width: 40vw;

  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Helvetica Neue", sans-serif;
}

#sub_div {
  padding: 70px 50px;
}

.bar {
  width: 10px;
  background-color: #d73333;
  /* border: 1px solid violet; */
  height: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

#wrong_email,
#wrong_password {
  color: red;
  font-size: 14px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(177, 165, 192, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
}

form input[type="text"],
input[type="password"] {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  border: 0;
  outline: none;
  width: 90%;
  font-size: 15px;
}
#small_font {
  font-size: 14px;
}
form p,
label {
  font-size: 20px;
}
label {
  color: #006491;
  font-weight: 600;
}
span {
  color: rgb(117, 3, 3);
  text-decoration: underline;
}

form input[type="submit"] {
  background-color: #dbdbdb;
  border-radius: 100px;

  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  font-weight: 600;
}

form input[type="submit"]:hover {
  background-color: #354050;
  color: white;
}

#signup_form {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.check {
  margin: 10px;
}
h2,
h1,
h3 {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
}
.create-account {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica,
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgb(31, 31, 31);
  font-size: 1.8em;
  line-height: 1;
  margin: 0 0 0.25em;
  padding-top: 0.25em;
  text-transform: uppercase;
  outline: 0;
}
@media screen and (max-width: 786px) {
  #login_div {
    width: 100%;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
  }
}
